
body {
  padding: 1rem;
  margin: 0;
  color: #444;
  font-family: sans-serif;
}

input, button {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

header {
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.list {

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));

}

.word {
  padding: 1rem;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}
.word:hover {
  background: #e9e9e9;
}

.panel {
  background: #fdfdfe;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px #ccc;;
  margin-bottom: 2rem;
}

.json {
  width: 100%;;
  min-height: 100px;
  border: 1px solid #999;
  padding: 1rem;
}